<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mds-logo">
            <a routerLink="/">Pellicula</a>
        </div>
        <span class="attribution">
            {{ today | date: 'yyyy' }}.
            An personal project for learning Angular 2
        </span>
    </div>
    <div class="mdl-mini-footer__right-section">
        <p>Made with : </p>
        <ul>
            <li class="footer-icon">
                <a href="https://angular.io/">
                <img src="https://angular.io/resources/images/logos/angular2/angular.svg" alt="">
            </a>
            </li>
        </ul>
    </div>
</footer>